<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />

    <link href="~/Css/site.css" rel="stylesheet" />
    <script src="~/lib/jquery/jquery.js"></script>
    <script src="~/lib/bootstrap/js/bootstrap.js"></script>
    <link href="~/lib/bootstrap/css/bootstrap.css" rel="stylesheet" />
    <title>@ViewBag.Title</title>
</head>
<body>
    <div class="container">
        <nav class="navbar navbar-expand-sm navbar-dark bg-dark">
            <a class="navbar-brand">

                <img asp-action="index" asp-controller="Home" src="~/images/seni.jpg" height="30" width="30"/>
            </a>
            <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#collapsibleNavbar">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="collapsibleNavbar">
                <ul class="navbar-nav">
                    <li>
                        <a asp-action="index" asp-controller="Home" class="nav-link">List</a>
                    </li>
                    <li>
                        <a asp-action="create" asp-controller="Home" class="nav-link">Create</a>
                    </li>
                </ul>
            </div>
        </nav>
        <div class="container">
            @RenderBody()
        </div>

        @if (IsSectionDefined("Scripts"))
        {
            @RenderSection("Scripts", required: true);
        }
    </div>

</body>
</html>
